<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Spark Collector Remote Service -->
    <bean id="sparkCollectorRemoteService" class="org.opencloudengine.flamingo2.spark.collector.remote.SparkCollectorRemoteServiceImpl"/>

    <bean name="/remote/sparkCollector" class="org.springframework.remoting.httpinvoker.HttpInvokerServiceExporter">
        <property name="service" ref="sparkCollectorRemoteService"/>
        <property name="serviceInterface" value="org.opencloudengine.flamingo2.spark.collector.remote.SparkCollectorRemoteService"/>
    </bean>
</beans>